@{ ViewData["Title"] = "Teacher's page";
                Layout = "_MasterPage"; }

@using Tutors.Models
@using Tutors.Forms
@model Tutors.Forms.TeacherProfileForm
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="@Model.Teacher.Picture" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">

                        <h1 class="h2">@Model.Teacher.Name</h1>
                        <p>
                            <span class="badge badge-secondary mr-2">
                                @foreach (Goal goal in Model.Goals)
                                {
                                    <text>@goal.Description </text>
                                }
                            </span>Рейтинг: @Model.Teacher.Rating Ставка: @Model.Teacher.Price / час
                        </p>
                        <p>@Model.Teacher.About</p>

                    </section>

                    <section class="available">

                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                        @foreach (var rec in Model.Schedules)
                        {
                            <h6 class="mt-4">@rec.Day</h6>
                            @if(rec.Times.Count > 0)
                            {
                                @foreach(var time in rec.Times)
                                {
                                    <a href="@Url.Action("CreateBooking", new {scheduleId = time.Id })" class="btn btn-outline-success mr-2">@time.Time свободно</a>
                                }
                            } else
                            {
                                <p>Нет свободных уроков</p>
                            }
                        }
                    </section>

                </div>
            </article>
        </div>

    </div>
</main>
